<style type="text/css">
    /* don't remove. */
    .about-cover {
        height: 30vh;<!--75vh-->
    }
</style>

<%- partial('_partial/bg-cover') %>

<main class="content">

    <div id="aboutme" class="container about-container">
      
		
		<!--新增简历卡-->
        <div class="card">
            <div class="card-content">
                <div class="card-content article-card-content">
                        <div class="title center-align" data-aos="zoom-in-up">
                            <i class="fas fa-archive"></i>&nbsp;&nbsp;<%- __('收藏') %>
                        </div>
                        <div id="articleContent" data-aos="fade-up">
                            <%- page.content %>
                        </div>
                </div>
            </div>
        </div>
    </div>
</main>